streamlit
streamlit-chat
pymongo
werkzeug
pandas
scikit-learn
nltk
fpdf
python-pptx
plotly
plotly-express
streamlit-option-menu
streamlit-lottie
requests
deep_translator
google-generative-ai
python-dotenv
